[Unit]
Description=DHCP server: dhcpd
After=network.target systemd-tmpfiles-setup.service

[Service]
Type=forking
ExecStart=/usr/sbin/dhcpd -cf /etc/dhcp/dhcpd.conf

[Install]
WantedBy=multi-user.target
